{% extends "bootstrap/base.html" %}
{% block title %}Shlyapa The Game | Adding Words{% endblock %}
{% block content %}
    <main role="main" class="container">
        <h1>Shlyapa The Game</h1>
        <h2>Adding Words</h2>
        <p>We have {{ hat.words | length }} words in the hat so far</p>
        <form method="POST">
            {{ form.csrf_token }}
            <p>
                {{ form.words.label }} </p>
            <p>
                {{ form.words(cols=70, rows=10) }}
            </p>
            <input class="btn btn-primary" type="submit" value="Add words">
            <a class="btn btn-outline-secondary" href="{{ url_for("handler_start", hat_id=hat.id) }}">Start game</a>
        </form>


    </main>
{% endblock %}