{% extends "bootstrap/base.html" %}
{% block title %}Shlyapa The Game{% endblock %}
{% block content %}
    <main role="main" class="container">
    <h1 class="text-center">Shlyapa The Game</h1>
    <h2 class="text-center">{{ word.text | upper }}</h2>
<div class="row">
<div class="col">
    <form action="{{ url_for("handler_removeword", hat_id=hat.id, word_id=word.id) }}" method="POST">
    <input class="btn btn-success btn-lg btn-block" type="submit" value="Guessed!">
</form>
</div>

    <div class="col">
    <a class="btn btn-primary btn-lg btn-block"
       href="{{ url_for("handler_play", hat_id=hat.id) }}">Stop guessing</a>
</div>
</div>
{% endblock %}