{% extends "bootstrap/base.html" %}
{% block title %}Shlyapa The Game{% endblock %}
{% block content %}
    <main role="main" class="container">
    <h1 class="text-center">Shlyapa The Game</h1>
        <h2 class="text-center">Game in process</h2>

        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for("handler_getword", hat_id=hat.id)}}">
            Reveal Next Word
        </a>
    <p class="text-center">{{ hat.words_inside | length }} word(s) left</p>

    </main>
{% endblock %}